{% extends filename %}
{% block content %}
<div class="main">
    <form action="{{url_for('translator')}}" method='POST'>
        <div class="form-group m-3">
            <label for="string">Enter the Sentence</label><br>
            <input type="text" name="string" id="string" placeholder="Enter the Sentence">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-outline-info">Send</button>
        </div>
    </form>
    <div id="out" class="output">
        {% if flag == 0 %}
            {{out}}
        {% endif %}
        {% if flag == 1 %}
        {{out[0]}} Language Detected with {{out[1]}} confidence.
        {% endif %}
    </div>
</div>
<script>
    var out = document.getElementById("out")
    ID = {{reqID}}
    console.log(ID)
    async function code2lang(code){
        await fetch(`/givemelanguage/${lang_code}`, {
            method: 'POST',
            headers: {
                'Content-type': 'application/json',
                'Accept': 'application/json'
            }
        }).then(response2=>response2.json())
        .then(data2=>{
            return data2["language"];
        });
    }
    async function check_updates(){
        while(1){
            console.log(ID);
            await new Promise(r => setTimeout(r, 2000));
            await fetch(`/check_update/${ID}`, {
            method: 'POST',
            headers: {
                'Content-type': 'application/json',
                'Accept': 'application/json'
            }
        }).then(response => response.json())
        .then(data => {
            if ("reversed_string" in data){
                out.innerHTML = data["reversed_string"];
            }
            else{
                
                lang_code = data["data"]["detections"][0][0]["language"];
                confidence = data["data"]["detections"][0][0]["confidence"];
                lang_name = code2lang(lang_code);
                out.innerHTML = lang_name+` Language Detected with `+confidence+` confidence.`
            }
        });
        }
    };
    check_updates();
</script>
{% endblock content %}       