{% extends filename %}
{% block content %}
<div class="main">
    <form action="{{url_for('translator')}}" method='POST'>
        <div class="form-group m-3">
            <label for="string">Enter the Sentence</label><br>
            <input type="text" name="string" id="string" placeholder="Enter the Sentence">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-outline-info">Send</button>
        </div>
    </form>
    <div class="output">
        {% if flag == 0 %}
            {{out}}
        {% endif %}
        {% if flag == 1 %}
        {{out[0]}} Language Detected with {{out[1]}} confidence.
        {% endif %}
    </div>
</div>
<script type="text/javascript" src="{{url_for('static',filename='languages_codes.json')}}"></script>
<script>
    var out = document.getElementById("out")
    var mydata = require('static/languages_codes.json');
    console.log(mydata)
    ID = {{reqID}}
    console.log(ID)
    async function check_updates(){
        while(1){
            console.log(ID);
            await new Promise(r => setTimeout(r, 2000));
            await fetch(`/check_update/${ID}`, {
            method: 'POST',
            headers: {
                'Content-type': 'application/json',
                'Accept': 'application/json'
            }
        }).then(response => response.json())
        .then(data => {
            if ("reversed_string" in data){
                out.innerHTML = data["reversed_string"];
            }
            else{
                var lang_code = data["data"]["detections"][0][0]["language"];
                var lang_name = "";
                var confidence = data["data"]["detections"][0][0]["confidence"]
                for(var i=0;i<mydata["code2lang"].length;i++){
                    if(mydata["code2lang"][i]["alpha2"] == lang_code){
                        lang_name = mydata["code2lang"][i]["English"];
                        break;
                    }
                }
                out.innerHTML = lang_name+` Language Detected with `+confidence+` confidence.`
            }
        });
        }
    };
    check_updates();
</script>
{% endblock content %}       