{% extends filename %}
{% block content %}
<div class="main">
    <form action="{{url_for('weather')}}" method='POST'>
        <div class="form-group m-3">
            <label for="string">Enter the City</label><br>
            <input type="text" name="string" id="string" placeholder="Enter the City">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-outline-info">Send</button>
        </div>
    </form>
    <div id="out" class="output">
        {{out}}
        {% if flag == 1 %}
        {{out[0]}}, {{out[1]}}
        <table class="table">
            <tbody>
                <tr>
                    <td>Temperature</td>
                    <td>{{out[2]}}</td>
                </tr>
                <tr>
                    <td>Feels like</td>
                    <td>{{out[3]}}</td>
                </tr>
                <tr>
                    <td>Minimum Temperature</td>
                    <td>{{out[4]}}</td>
                </tr>
                <tr>
                    <td>Maximum Temperature</td>
                    <td>{{out[5]}}</td>
                </tr>
                <tr>
                    <td>Pressure</td>
                    <td>{{out[6]}}</td>
                </tr>
                <tr>
                    <td>Humidity</td>
                    <td>{{out[7]}}</td>
                </tr>
            </tbody>
        </table>
        {% endif %}
    </div>
</div>
<script>
    var out = document.getElementById("out")
    var ID = {{ reqID }}
    var check = true;
    console.log(ID)
    async function check_updates() {
        while (1 && check) {
            console.log(ID)
            await new Promise(r => setTimeout(r, 2000));
            await fetch(`/check_update/${ID}`, {
                method: 'POST',
                headers: {
                    'Content-type': 'application/json',
                    'Accept': 'application/json'
                }
            }).then(response => response.json())
                .then(data => {
                    out.innerHTML = data["reversed_string"];
                    if ("status" in data) {
                        console.log("in the if part")
                        out.innerHTML = "Waiting for response..."
                    } else {
                        out.innerHTML = data;
                        check = false // break here
                    }
                });
            if (check == false) {
                break;
            }
        }
    };
    check_updates();
</script>
{% endblock content %}     